<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta charset="ISO-8859-1">
    <meta  http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<h2>Login:</h2>
<form action="login" method="post">
    <pre>
         Email: <input type="text" name="email" placeholder="write your name"/>
         Password: <input type="password" name="password" placeholder="type password"/>
        <input type="submit" value="Login">
    </pre>
</form>
</body>
</html>

<!--<!doctype html>-->
<!--<html xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta charset="ISO-8859-1">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

<!--    <title>Hello, world!</title>-->
<!--    <style>-->
<!--&lt;!&ndash;.home{&ndash;&gt;-->
<!--&lt;!&ndash; background: rgba(0,0,0,0.7) url("images/bg.jpg");&ndash;&gt;-->
<!--&lt;!&ndash;height:100vh;&ndash;&gt;-->
<!--&lt;!&ndash;    background-size: cover;&ndash;&gt;-->
<!--&lt;!&ndash;    background-blend-mode:darken;&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->
<!--form{-->
<!--  margin : 0 auto;-->
<!--  width:800px;-->
<!--  color:white;-->
<!-- border: 2px solid gray;-->
<!-- padding :50px;-->
<!-- border-radius:8px;-->
<!--}-->

<!--.section1{-->
<!--padding-top:100px;-->

<!--}-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<div class=" home" style="">-->


<!--    <section class="section1">-->

<!--        <form action="login" method="post">-->
<!--            <div class="form-group">-->
<!--                <label for="email">Email address</label>-->
<!--                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">-->
<!--                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="password">Password</label>-->
<!--                <input type="password" name="password" class="form-control" id="password" placeholder="Password">-->
<!--            </div>-->
<!--            <div class="form-group form-check">-->
<!--                <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--            </div>-->
<!--            <button type="submit" id="submit" name="submit" style="margin-top:20px" onclick="submitBtn()" class="btn btn-primary">Submit</button>-->
<!--        </form>-->


<!--    </section>-->


<!--</div>-->




<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--        crossorigin="anonymous"></script>-->


<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"-->
<!--        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->